<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Books</h2>
    </div>


    
  <!-- nav -->
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
      
        
        <!--<a class="nav-item nav-link" routerLink="/add-books">Add Boks</a>-->
    </div>
  </nav>
      <div class="panel-body">
        <table id="example" class="table table-striped table-bordered table-sm row-border hover" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>ID</th>
              <th> Book Name</th>
              <th>Author</th>
              <th>Category</th>
              <th>Price</th>
              <th>Rackno</th>
              <th>Status</th>
              <th>Actions</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let books of books | async">
               <td>{{books.bookid}}</td>
              <td>{{books.name}}</td>
              <td>{{books.author}}</td>
              <td>{{books.category}}</td>
              <td>{{books.price}}</td>
              <td>{{books.rackno}}</td>
              <td>{{books.status}}</td>

              <td><button (click)="booksDetails(books.bookid)" class="btn btn-info" style="margin-left: 10px">Show Details</button>
                   
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="container">                
        <a routerLink="/home"><button style="margin-right: 2%;" class="btn btn-success">Previous</button></a>
        <a routerLink="/magazines"><button style="margin-right: 3%;" class="btn btn-success">Next</button></a>
        <!--<a routerLink="/category" href="javascript:void(0);" class="btn btn-success">Previous</a><br><br><br>
        <a routerLink="/localsearch" href="javascript:void(0);" class="btn btn-success">Next</a>-->
    </div>

    
    </div>
