<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 
  
</head>
<body>
 
<div class="container">
  <h2>Newspapers</h2>
  <a href="https://www.thehindu.com" target="_blank"><button style="margin-right:30px; width: 18%;" type="button" class="btn btn-info">The Hindu</button></a>
  <a href="https://www.deccanchronicle.com" target="_blank"><button style="margin-right:30px; width: 18%;" type="button" class="btn btn-success">Deccan Chronicle</button></a>
  <a href="https://timesofindia.indiatimes.com" target="_blank"><button style="margin-right:30px; width: 18%;" type="button" class="btn btn-warning">The Times Of India</button></a>
  <a href="https://www.bbc.com/news" target="_blank"><button style="margin-right:30px; width: 18%;" type="button" class="btn btn-primary">BBC</button></a><br><br>
 
  <a href="https://www.hindustantimes.com" target="_blank"><button style="margin-right:30px; width: 18%; background-color: red;" type="button" class="btn btn-primary">Hindustan Times</button></a>
  <a href="https://www.newindianexpress.com" target="_blank"><button style="margin-right:30px; width: 18%; background-color: blueviolet; color: white;" type="button" class="btn btn-warning">The New Indian Express</button></a>
  <a href="https://www.telegraphindia.com" target="_blank"><button  style="margin-right:30px; width: 18%; background-color: hotpink;" type="button" class="btn btn-success">The Telegraph</button></a>
  <a href="https://www.thestatesman.com" target="_blank"><button style="margin-right:30px; width: 18%;" type="button" class="btn btn-info">The statesman</button></a><br><br>
 
  <a href="https://www.educationtimes.com" target="_blank"><button style="margin-right:30px; width: 18%; background-color: purple; color: white;" type="button" class="btn btn-warning">Education Times</button></a>
  <a href="https://mumbaimirror.indiatimes.com" target="_blank"><button style="margin-right:30px; width: 18%; background-color: royalblue;" type="button" class="btn btn-primary">Mumbai Mirror</button></a>
  <a href="https://www.financialexpress.com/" target="_blank"><button style="margin-right:30px; width: 18%;" type="button" class="btn btn-info">Financial Express</button></a>
  <a href="https://www.business-standard.com/" target="_blank"><button style="margin-right:30px; width: 18%;" type="button" class="btn btn-success">Business Standard</button></a><br><br>
</div>
 
</body>
</html>
