
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="sample">Library Management System(LMS)</a>
			</div>
			
			<ul class="nav navbar-nav navbar-right">
			
				<li class="nav-item"><a class="nav-link" href="login">Logout</a></li>
			</ul>
		</div>
	</nav>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd">
	<div class="container-fluid">
		<ul class="nav navbar-nav navbar-center">
			<li class="nav-item">
				<a href="admin-home" class="nav-link">Dashboard</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown">Books</a>
				<div class="dropdown-menu">
					<a href="add-books" class="dropdown-item">Add New Book</a>
					<a href="adbooks" class="dropdown-item">Manage Books</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown">Magazines</a>
				<div class="dropdown-menu">
					<a href="add" class="dropdown-item">Add New Magazine</a>
					<a href="admagazines" class="dropdown-item">Manage Magazines</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown">Newspapers</a>
				<div class="dropdown-menu">
					<a href="add-newspaper" class="dropdown-item">Add New Newspaper</a>
					<a href="adnewspapers" class="dropdown-item">Manage Newspapers</a>
				</div>
			</li>
			
		</ul>
	</div>
</nav>

<span><marquee>This is library Management System. Library opens at 8:00 AM and close at 8:00 PM</marquee></span><br><br>
<div class="row">
    <div class="col-md-3">
        <div class="card bg-light" style="width: 300px">
            <div class="card-header">Registered Users:</div>
            <div class="card-body">
                <p class="card-text">No. of total users:2 </p>
                <a href="view" class="btn btn-danger" target="_blank">View Registered Users</a>
            </div>
        </div>
    </div>
   
    <div class="col-md-3">
        <div class="card bg-light" style="width: 300px">
            <div class="card-header">Issued Books:</div>
            <div class="card-body">
                <p class="card-text">No. Issued Books:2</p>
                <a href="admin-issuedbooks" class="btn btn-success" target="_blank">View Issued books</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card bg-light" style="width: 300px">
            <div class="card-header">Book Not Returned:</div>
            <div class="card-body">
                <p class="card-text">No. of books not returned:2</p>
                <a href="" class="btn btn-info" target="_blank">View Not Returned Books</a>
            </div>
        </div>
    </div>
</div>