


        

        <html>
            <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            </head>
            <body>
                <div class="sidenav">
                    
                    <a routerLink="/books">Books</a>
                    <a routerLink="/magazines">Magazines</a>
                    <a routerLink="/newspapers">News Papers</a>
                    <a routerLink="/logout">Logout</a>
                </div>
                <div class="container">
                  
                
                    
                
                      <div class="item">
                        <img src="assets/image/janko-ferlic-sfL_QOnmy00-unsplash.jpg" alt="Books World" style="width:110%;">
                      </div>
                      </div>
                    
                      
                
                    
            </body>
        </html>